.toolbar-transparent-light {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 90%;
    height: 16vh;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    border-radius: 16px;
    padding: 12px;
  
    background-color: rgba(62, 189, 243, 0.15); /* subtle white */
    backdrop-filter: blur(2px);                /* glassy blur */
    -webkit-backdrop-filter: blur(1px);        /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .toolbar-transparent-dark {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 90%;
    height: 16vh;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    border-radius: 16px;
    padding: 12px;
  
    background-color: rgba(255, 255, 255, 0.1); /* subtle white */
    backdrop-filter: blur(2px);                /* glassy blur */
    -webkit-backdrop-filter: blur(1px);        /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  /* Default light mode styles for label input */
  .label-input-box {
    font-size: 12px;
    padding: 5px;
    width: 120px; /* Fixed width */
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white !important;
    color: black !important;
  }

  /* Dark mode styles */
  body[data-theme='dark'] .label-input-box {
    background-color: #333 !important;
    color: white !important;
  }